@media screen and  (max-width: 640px) {
    aside.col-4{
        order: -1;
        width: 100%;
      
    }
    .statistik {
        display: none;
    }
}

/*section.row{
    
}*/

.img{
    height: 200px;
    width: 100%;
    border-top: 4px solid #e94f37;
    
}
 

.em{
    font-style: italic;
}