/* ------- Font Import ------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');


/* ------- General Styling ------- */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

/* ------- Header & Navigation ------- */

header[role=banner] {
	display:flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #FFF;
	color: #878787;
	height: 5em;
}

header[role=banner] h1 {
	display:none;
} 

header[role=banner] button.burger {
	display:none;
}

.input__search {
	padding: 6px 16px 6px 30px;
	background: url('../assets/img/search_12x12.png') no-repeat 11px 7px;
	border-radius: 15px;
	border:2px solid #C7C7C7;
}

.input__search:focus {
	outline:none;
	border:2px solid #E94F37;
}

nav[role=navigation] {
	height:100%;
	display:flex;
	align-items: center;
}

nav[role=navigation] ul.menu {
	display:flex;
	justify-content:space-between;
	height: 100%;
}

nav[role=navigation] ul.menu li a {
	display:flex;
	align-items: center;
	padding:1.5em;
	height: 100%;
	color: #878787;
	text-decoration: none;
	border-top: 4px solid #FFF;
	border-bottom: 4px solid #FFF;
	font-weight: 600;
	font-size: 1.2rem; /* 12px */
}

nav[role=navigation] ul.menu li a:hover {
	border-top: 4px solid #E94F37;
}

nav[role=navigation] ul.menu ul.dropdown__content {
	display:none;
}

/* ------- Main ------- */

.row {
	min-height: 300px;
}

article {
	cursor:pointer;
}

.overlay--dark {
	position:relative;
	z-index:1;
}

.overlay--dark:after {
	content: "";
	height:auto;
	width:auto;
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease-in-out;
}

.overlay--dark:hover:after {
	top:50%;
}

#selected__item {
	background: url('../assets/img/article_060917_2.jpg') no-repeat;
	background-size:cover;
}

#first {
	background: url('../assets/img/article_120917_1.jpg') no-repeat;
	background-size:cover;
}

#second {
	background: url('../assets/img/article_080917_1.jpg') no-repeat;
	background-size:cover;
}

#third {
	background: url('../assets/img/article_060917_1.jpg') no-repeat;
	background-size:cover;
}

/* ------- Footer ------- */

footer p,a {
	font-size: 1.2rem;
	line-height: 1.4rem;
}

footer[role=footer] {
	background-color:#393E41;
	color: #F6F7EB;
	width:100%;
	position: relative;
}

footer [class^="col"] {
	background:none;
}

footer a {
	text-decoration: none;
	color:inherit;
	font-weight: 600;
}

footer a:hover {
	color:#E94F37;
}

/* ------- Media Queries ------- */

@media all and (max-width: 1080px) {
	header[role=banner] {
		flex-direction: column;
	}
}


