  
.row--centered{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.shadow{
	box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
	}

.image--circle{
	border-radius: 50%;
	margin: 5%;
}

.row--parallax{
	background-image: url("http://www.publicdomainpictures.net/pictures/130000/velka/gray-gradient-background-1440541572Qcf.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	opacity: .5;
}

.a--red{
	color: #393E41;
	text-decoration-color: #E94F37; 
}

.a--red:hover{
	color: #E94F37;
}

p--light{
	color: black;
}