

.row--centered{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.shadow{
	box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
	}

.image--icon{
	margin: 5%;
	height: 90px;
}

.row--parallax{
	/*http://www.publicdomainpictures.net/pictures/130000/velka/gray-gradient-background-1440541572Qcf.jpg*/
	background-image: url('https://cdn.pixabay.com/photo/2016/03/15/02/42/floor-1256804_960_720.jpg');
	background-size: cover;
	background-attachment: fixed;
	opacity: .8;
}


.col-12 h1{
	color: #F6F7EB;
	margin-bottom: 0;
}


.a--red{
	color: #393E41;
	text-decoration-color: #E94F37; 
}

.a--red:hover{
	color: #E94F37;
}

/* ------- Media Queries -------*/

@media only screen and (max-width: 38em){
	.row{
		flex-direction: column;
	}
	.image--icon{
		height: 50px;
	}
	h1{
		font-size: 100%;
	}
	.col-6{
		bottom-top: 1px solid #393E41;
		border-bottom: 1px solid #393E41
	}
}