.share-list {
  display: flex;
  flex-direction: row;
}

.share-item {
  margin-right: 10px;
}

.share-item:last-child {
  margin-right: 0;
}

.share-item a {
  color: #393E41;
}

.share-item a:hover {
  color: #E94F37;
}

.share-item i {
  font-size: 3rem;
}